.maincontainer {
  width: 50%;
  margin: 2rem auto;
}
.maincontainer ul {
  padding: 0;
  display: flex;
  margin: 0 auto;
  width: 50%;
}
.maincontainer li {
  list-style: none;
  padding: 0.6rem 0.8rem;
  border: 1px solid #666;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

.active {
  background-color: #f03e3e;
}

.maincontainer li:first-child {
  margin-right: 5px;
}
.maincontainer li:last-child {
  margin-left: 5px;
}

@media (max-width: 1020px) {
  .maincontainer {
    width: 100%;
    margin: 1rem auto;
  }
  .maincontainer ul {
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .maincontainer {
    width: 100%;
    margin: 1rem auto;
  }
  .maincontainer ul {
    justify-content: center;
  }
}
