.navigation {
  width: 100%;
}

.container {
  height: 51px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 4px solid rgb(240, 1, 1); */
  /* border: 4px solid rgb(204, 7, 7); */
  color: #28282b;
  /* border-radius: 10px; */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 800;
  box-shadow: 0 0 3px rgb(102, 102, 102, 0.3);
  /* background-color: #fa5252; */
  /* background-color: rgb(240, 1, 50); */
  background-color: #f5f5f5;
  width: 100%;
  overflow: hidden;
}

.logocontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.options {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo {
  margin-left: 2.4rem;
  border: 3px solid rgb(76, 0, 255);
  color: #28282b;
  border-radius: 15px;
  padding: 0.2rem 0.4rem;
  text-decoration: none;
}

.search ul {
  list-style: none;
  display: flex;
  gap: 2.8rem;
  align-items: center;
}

.search ul:last-child {
  margin-right: 2.8rem;
}

.btnmobilenav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.iconmobilenav {
  height: 2.5rem;
  width: 2.5rem;
  color: #333;
  display: none;
}

.iconmobilenav[name="close-outline"] {
  display: none;
}

.main_nav_list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main_nav_link:link,
.main_nav_link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main_nav {
  display: none;
}

@media (max-width: 1020px) {
  .search {
    display: none;
  }

  .options {
    display: none;
  }

  .iconmobilenav {
    display: block;
    padding-right: 15px;
  }

  .nav_open.navigation {
    background-color: rgba(240, 1, 49);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in;

    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
    z-index: 500;
  }

  .container {
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
  }

  .logocontainer {
    order: -2;
  }

  .nav_open.options {
    display: block;
  }

  .nav_open.search {
    display: block;
  }

  .search {
    order: -1;
  }

  .search ul {
    gap: 1.2rem;
  }

  .options {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .search {
    display: none;
  }

  .options {
    display: none;
  }

  .iconmobilenav {
    display: block;
    padding-right: 15px;
  }

  .nav_open.navigation {
    background-color: rgba(240, 1, 49);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in;

    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
    z-index: 500;
  }

  .container {
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
  }

  .logocontainer {
    order: -2;
  }

  .nav_open.options {
    display: block;
  }

  .nav_open.search {
    display: block;
  }

  .search {
    order: -1;
    /* width: 120%; */
  }

  .search ul {
    gap: 1.2rem;
  }

  .options {
    width: 100%;
  }
}
