.list {
  list-style: none;
  display: flex;
  gap: 2.8rem;
  align-items: center;
  padding-left: 35px;
}

.dropdown {
  height: 20px;
  padding: 20px 0;
  /* width: 14rem; */
  /* position: relative; */
}

.dropdown a {
  padding-left: 5px;
}

.dropdown a:hover + ul {
  display: flex;
}
.dropdown:hover ul {
  display: flex;
}

.titlecontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  /* background-color: red; */
  /* position: absolute; */
  width: 13px;
  height: 13px;
  padding-top: 5px;
  /* left: 6.2rem; */
  filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(323deg)
    brightness(102%) contrast(101%);
}

.icon {
  /* display: block; */
  /* position: absolute; */
  width: 15px;
  height: 15px;
  left: -0.6rem;
  bottom: 1.4rem;
  filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(323deg)
    brightness(102%) contrast(101%);
  /* transform: translate(-50%); */
}

@media (max-width: 480px) {
  .list {
    /* display: none; */
    flex-direction: column;
    width: 100%;
    gap: 0;
    padding: 0;
    padding-left: 1rem;
    align-items: flex-start;
  }
}
