.btn {
  padding: 0.6rem 1rem;
  background-color: rgb(94, 77, 255);
  border: none;
  border-radius: 5px;
  color: #eeeeee;
  width: 5rem;
}

.btn:hover {
  background-color: rgb(94, 77, 255, 0.9);
  outline: 1px solid #666;
  cursor: pointer;
}
