.container {
  margin-top: 2.4rem;
  background-color: rgb(240, 1, 50);
  height: 22rem;
}

.listitems {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  gap: 1.2rem;
  margin: 0;
  width: 100%;
}

.elementcontainer a {
  display: flex;
  flex-direction: column;
}

.cover {
  margin-top: 0.4rem;
  height: 17rem;
}

.description {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.itemb {
  justify-self: flex-end;
}

.item {
  min-height: 20rem;
  /* min-width: 30rem; */
  width: 14rem;
  padding: 10px;
  /* margin: 0; */
  display: flex;
}

.item img {
  width: 100%;
  height: 85%;
  border-radius: 5px;
  pointer-events: none;
}
