.maincontainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 3rem;
  margin-top: 3rem;
  text-align: center;
  column-gap: 15px;
  position: relative;
}

.maincontainer div {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  gap: 5px;
}

.maincontainer h3 {
  background-color: #222;
  padding: 5px;
  /* color: rgb(255, 4, 4); */
  color: #00fa9a;
  text-shadow: 0 0 15px rgb(255, 66, 66);
}

.itemcontainer {
  height: 6.5rem;
  /* margin-bottom: 15px; */
  /* text-align: start; */
  /* background-color: #fff; */
  cursor: pointer;
  box-shadow: 0 0 2px #666;
  text-decoration: none;
}

.arrow {
  position: absolute;
  z-index: 2;
  font-size: 2.5rem;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0 0.2rem 0.4rem 0.2rem;
  cursor: pointer;
  color: rgb(255, 59, 59);
  box-shadow: 0 0 5px #666;
  display: none;
}

.arrow:hover {
  transition: 500ms;
  background-color: rgba(0, 0, 0, 0.6);
  outline: 1px solid #666;
}

.rarrow {
  top: 3%;
  transform: translateY(-50%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  right: -2.5rem;
}
.larrow {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  top: 3%;
  transform: translateY(-50%);
  left: -2.5rem;
}

.item {
  min-height: 20rem;
  /* width: 70%; */
  padding: 10px;
  display: flex;
  justify-content: center;
}

@media (max-width: 1020px) {
  .maincontainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .maincontainer div {
    display: none;
  }

  .maincontainer div.active {
    display: flex !important;
    flex-direction: column;
    margin-bottom: 15px;
    grid-column-start: 1;
    grid-column-end: 5;
    column-gap: 0;
  }

  .arrow {
    display: block;
  }
}
