.itemcontainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #2f2f2a;
  border: 5px solid #2f2f2a;
  box-shadow: 0 0 5px #333;
  border-radius: 5px;
  filter: brightness(100%);
  cursor: grab;
  text-decoration: none;
}

.itemcontainer:hover {
  transition: 4000ms;
  filter: opacity(85%);
}

.title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: -1px;
  font-size: 1.4rem;
  color: #fdd73d;
  text-shadow: 0 0 1px red, 0 0 1px black;
}

.puntuacion {
  display: flex;
  color: #ddd;
  justify-content: space-between;
}

.genre {
  color: #ddd;
}

.texto {
  margin-top: 0.5rem;
}

.numero {
  font-size: 1.5rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #ffcf10;
  text-shadow: 0 0 5px #ffd52e;
}

.itemcontainer img {
  width: 100%;
  height: 85%;
  border-radius: 5px;
  pointer-events: none;
  z-index: 1;
}

/** Careful */
.itemcontainer {
  opacity: 1;
  animation: Items 600ms ease-in-out forwards;
}

@keyframes Items2 {
  0% {
    opacity: 0;
    height: 0%;
    padding: 0px;
  }
  100% {
    opacity: 1;
  }
}

@keyframes Items {
  0% {
    opacity: 0;
    transform: scale(0.3) rotateX();
  }
  60% {
    transform: scale(1);
  }
  90% {
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
  }
}
