.itemcontainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #2f2f2a;
  /* border: 5px solid #2f2f2a; */
  box-shadow: 0 0 5px #333;
  border-radius: 5px;
  filter: brightness(100%);
  cursor: grab;
  text-decoration: none;
}

.itemcontainer:hover {
  transition: 4000ms;
  filter: opacity(85%);
}

.title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: -1px;
  font-size: 1.4rem;
  /* color: #fdd73d; */
  color: #00fa9a;
  text-shadow: 0 0 1px red, 0 0 1px black;
  padding: 5px;
}

.puntuacion {
  display: flex;
  color: #ddd;
  justify-content: space-between;
  padding-left: 5px;
}

.genre {
  color: #ddd;
  padding-left: 5px;
}

.texto {
  margin-top: 0.5rem;
}

.numero {
  font-size: 1.5rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  /* color: #ffcf10; */
  color: #00fa9a;
  text-shadow: 0 0 5px #00fa9a;
  padding-right: 5px;
}

.itemcontainer img {
  width: 100%;
  height: 85%;
  border-radius: 5px;
  pointer-events: none;
  z-index: 1;
  image-rendering: -webkit-optimize-contrast;
}

/** Careful */
.itemcontainer {
  opacity: 1;
  animation: Items 300ms ease-in forwards;
}

@keyframes Items2 {
  0% {
    opacity: 0;
    height: 0%;
    padding: 0px;
  }
  100% {
    opacity: 1;
  }
}

@keyframes Items {
  0% {
    opacity: 0;
    /* transform: scale(0.3) rotateX(); */
  }
  60% {
    opacity: 0.6;
    /* transform: scale(1); */
  }
  90% {
    opacity: 0.9;
    /* transform: scale(0.9); */
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 480px) {
  .itemcontainer {
    width: 60vw;
  }
}
