.slider {
  display: flex;
  margin: 0 2rem 0 4rem;
  width: 90vw;
  scroll-behavior: smooth;
  position: relative;
}
.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.listitems {
  list-style: none;
  padding: 0;
  margin: 0;
}

.elementcontainer a {
  display: flex;
  flex-direction: column;
}

.cover {
  margin-top: 0.4rem;
  height: 17rem;
}

.description {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.item {
  min-height: 20rem;
  padding: 10px;
  display: flex;
  width: 70%;
}

.arrow {
  position: absolute;
  z-index: 2;
  font-size: 4rem;
  /* background-color: rgba(0, 0, 0, 0.7); */
  background-color: #ffffff;
  border: 1px solid #2d2d2d;
  padding: 0 0.2rem 0.4rem 0.2rem;
  cursor: pointer;
  /* color: rgb(255, 59, 59); */
  color: #2d2d2d;
  box-shadow: 0 0 5px #666;
}

.arrow:hover {
  transition: 300ms;
  /* background-color: rgba(0, 0, 0, 0.6); */
  background-color: #dddddd;
  outline: 1px solid #111;
}

.rarrow {
  top: 45%;
  transform: translateY(-50%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  right: -1.5rem;
}
.larrow {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  top: 45%;
  transform: translateY(-50%);
  left: -1.5rem;
}

@media (max-width: 1020px) {
  .slider {
    margin: 0 5%;
  }
}

@media (max-width: 480px) {
  .container {
    justify-content: flex-start;
    width: 100%;
    overflow-x: scroll;
  }
  .item {
    padding: 1px;
  }
  .slider {
    margin: 0;
    width: 100%;
  }
  .arrow {
    font-size: 2rem;
    display: none;
  }
  .rarrow {
    right: 1.6rem;
  }
  .larrow {
    left: 1.6rem;
  }
}
